@import '../../Styles/variables.scss';

.DonationOrganizationTab {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  margin-top: 60px;
  margin-left: 40px;
  
  .DonationOrg {
    display: inline-block;
    color: $primary-font-color;
    margin-bottom: 20px;

    .DonationOrgText {
      &:hover {
        opacity: 0.4;
      }  
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .DonationOrganizationTab {
    font-size: 12px;
    margin-left: 30px;
    
    .DonationOrg {
      margin-bottom: 20px;
    }
  }
}