.IncidentCard {
  .Block {
    display: block;
    font-size: 18px;
  }

  .IncidentInfo {
    font-size: 22px;
    font-family: 'Suez One';
    margin-bottom: 8px;
  }

  .FieldName {
    font-weight: bold;
  }
}