@import '../../Styles/variables.scss';

.DonationsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 94vw;
  
  .MuiTab-root {
    margin: 0px 15px;
  }
  
  .MuiTab-textColorPrimary {
    color: $primary-font-color;
    font-size: 15px;
    font-family: 'Montserrat';
  }

  .Mui-selected {
    font-weight: 700;
  }
}

@media only screen and (max-device-width: 480px) {
  .DonationsPage {
    margin-top: 30px;
    width: 90vw;
    
    .MuiTab-root {
      margin: 0;
    }

    
    .MuiTab-textColorPrimary {
      font-size: 6px;
    }
  
    .Mui-selected {
      font-weight: 700;
    }
  }
}