@import '../../Styles/variables.scss';

.DonationsPage {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
  .DonationsPaper {
    width: 1100px;
    background: black;
    border-radius: 10px;
    padding: 10px;
  }

  .MuiTab-root {
    margin: 0px 15px;
  }
  
  .MuiTab-textColorPrimary {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
  }

  .Mui-selected {
    font-weight: 700;
  }
}
