$primary-bg-color: #0A0A0A;
$primary-font-color: #e0e0e0;
$incident-card-color: #E24A4A;
$incident-circle-color: #E24A4A;
$loading-spinner-color: #e0e0e0;
$share-content-color: #6256ca;
$search-box-color: white;
