
@import '../../Styles//colors.scss';

.SkCircle {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 150px;
  width: 50px;
  height: 50px;
  position: relative;

  .SkChild {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: $loading-spinner-color;
      border-radius: 100%;
      -webkit-animation: SkCircleBounceDelay 1.2s infinite ease-in-out both;
              animation: SkCircleBounceDelay 1.2s infinite ease-in-out both;
    }
  }

  .SkCircle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }

  .SkCircle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }

  .SkCircle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

  .SkCircle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }

  .SkCircle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }

  .SkCircle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

  .SkCircle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }

  .SkCircle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }

  .SkCircle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }

  .SkCircle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }

  .SkCircle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  
  .SkCircle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .SkCircle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .SkCircle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .SkCircle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .SkCircle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .SkCircle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .SkCircle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .SkCircle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .SkCircle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .SkCircle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .SkCircle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
            
  @-webkit-keyframes SkCircleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @keyframes SkCircleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}
