@import '../../Styles/variables.scss';

@import '../../Styles/variables.scss';

.TimelineSummary {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: 'Spectral', serif;
  
  .IncidentCount {
    font-size: 50px;
    font-family: 'Spectral', serif;
    display: flex;
    justify-content: center;
  }

  > div {
    border-radius: 2px;
    padding: 15px;
    width: 325px;
  }

  .IncidentCountContainer {
    color: $primary-font-color;
    text-align: center;
    cursor: default;
  }

  .TotalCount {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    
    .GeorgeFloydIncidentDate {
      font-size: 15px;
    }
  }

  .WeekCount {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  }

  .TodayCount {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
}

@media screen and (max-width: 420px) {
  .TimelineSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;

    .IncidentCount {
      font-size: 35px;
    }
  
    > div {
      margin-bottom: 12px;
      width: 200px;
    }

    .TotalCount {
      .GeorgeFloydIncidentDate {
        margin-top: 4px;
        font-size: 10px;
      }
    }
  }
}

@media screen and (min-device-width: 421px) and (max-width: 1300px) {
  .TimelineSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;

    .IncidentCount {
      font-size: 40px;
    }
  
    > div {
      margin-bottom: 12px;
      width: 250px;
    }

    .TotalCount {
      .GeorgeFloydIncidentDate {
        margin-top: 4px;
        font-size: 14px;
      }
    }
  }
}