.TimelineSummary {
  display: flex;
  justify-content: center;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 100px;
  
  .IncidentCount {
    font-size: 50px;
    font-family: 'Krona One';
    margin-left: 160px;
  }
}