@import '../../Styles/colors.scss';

@import '../../Styles/colors.scss';

.TimelineSummary {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 100px;
  
  .IncidentCount {
    font-size: 50px;
    font-family: 'Krona One';
    display: flex;
    justify-content: center;
  }

  > div {
    border-radius: 2px;
    padding: 15px;
    width: 325px;
  }

  .IncidentCountContainer {
    color: $primary-font-color;
    text-align: center;
    cursor: default;
    border: 5px solid $timeline-summary-bg-color;
    border-radius: 4px;
    background: $timeline-summary-bg-color;
  }
}