@import '../../Styles/colors.scss';

.NavBar {
  display: flex;
  font-size: 20px;
}

.AppTitle {
  font-size: 25px;
  font-family: 'Krona One', sans-serif;
  margin-right: 10px;
}

.NavLink {
  text-decoration: none;
  color: $primary-font-color;

  &:hover {
    opacity: 0.6;
  }  
}

.NavLinkText {
  &:hover {
    border-bottom: 1px solid $primary-font-color;
  }  
}

.NavItem {
  margin-top: 5px;
  margin-left: 10px;
}

.NavIcon {
  margin-left: 3px;
}

@media screen and (max-width: 600px) {
  .NavBar {
    font-size: 15px;
  }

  .AppTitle {
    font-size: 15px;
    margin-right: 2px;
  }
}
