.Timeline {
  
  .LoadMoreButton {
    box-shadow: none;
    
    svg {
      display: inline-block;
      width: 40px;
      height: 30px;
      position: absolute;
      left: auto;
      top: auto;
      margin-left: auto;
      margin-top: auto;
    }

    .FabButton {
      width: 60px;
      height: 60px;
    }
  }
}