@import '../../Styles//colors.scss';

.Timeline {
  li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: $primary-font-color;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
    }

    &:nth-child(odd) div {
      left: 45px;

      &::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent $incident-card-color transparent transparent;
      }
    }

    &:nth-child(even) div {
      left: -439px;

      &:before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent $incident-card-color;
      }
    }

    div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: $incident-card-color;

      &::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
  }  
}

// Medium
@media screen and (max-width: 900px) {
  .Timeline {
    ul li {
      div {
        width: 250px;
      }

      &:nth-child(even) div {
        left: -289px;
      }
    }
  }
}

// Small
@media screen and (max-width: 600px) {
  .Timeline {
    ul li {
      margin-left: 20px;

      div {
        width: calc(100vw - 200px);
      }

      &:nth-child(even) div {
        left: 45px;

        &::before {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent $incident-card-color transparent transparent;
        }
      }
    }
  }
}