@import '../../Styles/colors.scss';

.Timeline {
  .LoadMoreButton {
    box-shadow: none;

    .MuiFab-primary {
      background: #0099F7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      &:hover {
        background: #0099F7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }
    
    svg {
      display: inline-block;
      width: 40px;
      height: 30px;
      position: absolute;
      left: auto;
      top: auto;
      margin-left: auto;
      margin-top: auto;
    }

    .FabButton {
      width: 60px;
      height: 60px;
    }
  }

  .IncidentDate {
    font-size: 20px !important;
    font-weight: bold;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  // .RoundIcon { ///
  //   width: 50px;
  //   height: 50px;

  // }

  .TimelineElement  {
    width: 500px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;

    &.Even { 
      background: #667db6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &.Odd { 
      background: #ED213A;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

  }
}