@import '../../Styles//variables.scss';

.copyUrlTextArea {
  visibility: hidden;
}

.ShareIncidentContent {
  margin-top: 0px;
  z-index: 999;
  width: 200px;
  height: 150px;
  padding: 2px;
  margin-left: -10px;
  position: absolute;
  background: #484444;
  
  .Arrow {
    content: '';
    position: absolute;
    bottom: 149px;
    left: 50px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #484444;
  }
  
  button {
    margin: 10px;
  }

  .CopyIncidentUrl {
    font-size: 42px !important;
    margin-left: 10px;
    border: 1px solid $primary-font-color;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
    
  .CopyUrlTooltip {c
    :hover {
      cursor: pointer;
    }
  }
}

.ShareTimelineContent {
  margin-top: 8px;
  z-index: 999;
  width: 200px;
  height: 150px;
  padding: 2px;
  margin-left: -25px;
  position: absolute;
  background: #484444;
  
  .Arrow {
    content: '';
    position: absolute;
    bottom: 149px;
    left: 80px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #484444;
  }
  
  button {
    margin: 10px;
  }

  
  .CopyAppUrl {
    font-size: 40px !important;
    border: 1px solid $primary-font-color;
    color: $primary-font-color;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 420px) {
  .ShareIncidentContent {
    width: 220px;
    height: 150px;
    padding: 15px;
    margin-top: 2px;
    margin-left: -6px;

    .Arrow {
      top: -12px;
      left: 35px;
    }

    svg {
      width: 50px;
      height: 40px;
    }

    button {
      margin: 5px;
    }

    .CopyIncidentUrl {
      font-size: 15px !important;
      margin-left: 5px;
      padding: 0;
      border: none;
    }
  }

  .ShareTimelineContent {
    width: 220px;
    height: 150px;
    padding: 15px;
    margin-top: 8px;
    margin-left: -19px;

    .Arrow {
      top: -12px;
      left: 80px;
    }

    svg {
      width: 50px;
      height: 40px;
    }

    button {
      margin: 5px;
    }

    .CopyAppUrl {
      font-size: 10px !important;
      padding: 0;
      border: none;
    }
  }
}