@import '../../Styles/variables.scss';

.TimelineFilterPanel {
  display: flex;
  justify-content: center;

  > div {
    margin-left: 20px;
  }

  .MuiOutlinedInput-root {
    background: $filter-bg-color;
    width: 400px;
    font-size: 20px;
  }

  .MuiButton-contained {
    font-size: 18px;
    height: 60px;
    color: $primary-font-color;
    font-family: 'Montserrat', sans-serif;

    &.DateAsc {
      background: #614385;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &.DateDesc {
      background: #614385;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &:hover {
      background: #614385;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    }
  }

  .DateSortIcon {
    font-size: 30px;
  }

  .LocationSelect {
    .MuiInputBase-root {
      background-color: white;
      width: 250px;
    }
  }

  .CloseIcon {
    cursor: pointer;
  }
}

@media screen and (max-width: 420px) {
  .TimelineFilterPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;

    > div {
      margin-left: 0;
      margin-bottom: 12px;
    }

    .MuiOutlinedInput-root {
      background: $filter-bg-color;
      width: 250px;
      font-size: 16px;
    }

    .MuiButton-contained {
      font-size: 12px;
      height: 35px;
    }

    .DateSortIcon {
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    .LocationSelect {
      .MuiInputBase-root {
        background-color: white;
        width: 250px;
      }
    }
  }
}