@import '../../Styles/variables.scss';
.TimelineFilterPanel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  ::placeholder {
    color: black !important; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
  }

  > div {
    margin-left: 20px;
  }

  .MuiOutlinedInput-root {
    background: $filter-bg-color;
    width: 300px;
    font-size: 12px;
  }

  .MuiButton-contained {
    font-size: 12px;
    height: 50px;
    width: 150px;
    color: $primary-font-color;
    font-family: 'Josefin Sans', sans-serif;

    &.DateAsc {
      background: #e9d362;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
      &:hover {
        background: #e9d362;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }

    &.DateDesc {
      background: #e9d362;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      &:hover {
        background: #e9d362;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }
  }

  .DateSortIcon, .ShareIcon {
    font-size: 20px;
  }

  .LocationSelect {
    .MuiInputBase-root {
      background-color: white;
      width: 225px;
    }
  }

  .CloseIcon {
    cursor: pointer;
  }
  
  .ShareButton {
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    &:hover {
      background: #73C8A9;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}

@media screen and (max-width: 420px) {
  .TimelineFilterPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;

    ::placeholder {
      font-size: 15px;
    }

    > div {
      margin-left: 0;
      margin-bottom: 12px;
    }

    .MuiOutlinedInput-root {
      background: $filter-bg-color;
      width: 250px;
      font-size: 16px;
    }

    .MuiButton-contained {
      font-size: 12px;
      height: 40px;
      width: 180px;
    }

    .DateSortContainer {
      margin-top: 5px;
      margin-bottom: 20px;
    }

    .DateSortIcon {
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    .LocationSelect {
      .MuiInputBase-root {
        background-color: white;
        width: 250px;
      }
    }
  }
}