@import '../../../Styles/variables.scss';

.MobileNavBar {
  color: $primary-font-color;
  font-family: 'Montserrat', sans-serif;

  .AppTitle {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

  .MenuButton, button {
    color: $primary-font-color;
    position: fixed;
    top: 12px;
    right: 0;
  }

}

.MuiDrawer-paper {
  background: #121212 !important;
  color: $primary-font-color !important;

  .MuiTypography-root {
    font-family: 'Montserrat', sans-serif !important;
  }


  .MuiListItemIcon-root {
    color: $primary-font-color;
  }
}