@import '../../../Styles/variables.scss';

.MobileNavBar {
  color: $primary-font-color;
  font-family: 'Josefin Sans', sans-serif;

  .AppTitle {
    font-size: 22px;
    display: flex;
    justify-content: center;
  }

  .MenuButton, button {
    color: $primary-font-color;
    position: absolute;
    top: 25px;
    right: 0;

    svg {
      font-size: 30px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.MuiDrawer-paper {
  background: #121212 !important;
  color: $primary-font-color !important;

  .MuiTypography-root {
    font-family: 'Josefin Sans', sans-serif !important;
  }

  .MuiListItemIcon-root {
    color: $primary-font-color;
  }
}